# Build artifacts
build/
install/
log/
.ros/
.pytest_cache/

# Python-specific
__pycache__/
*.pyc
*.pyd
*.pyo
venv/
.venv/

# C++-specific
*.o
*.lo
*.la
*.so
*.a
*.lib
*.dll
*.exp
*.ilk
*.pdb
*.obj
*.exe

# Eclipse/CDT
.project
.cproject
.settings/

# VS Code
.vscode/

# Other common temporary files
*~
*.bak
*.swp
*.swo
*.tmp
*.log
*.DS_Store
bags/
bags_preprocessed/
calib-venv/
ouster-venv/
ouster_venv/
ouster_data1/
ouster_data2/
ouster_data3/
rosbag2_*/
shared_rosbag/
*.zip
*.gv
*.pdf